@using Gyakorlo.Models.Home
@model BejelentkezesViewModel

<section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Bejelentkezés</h2>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-gy-4">
                <div class="col-gy-4">
                    <form action="/Bejelentkezes" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                        <div class="row gy-4">

                            <div class="col-md-6">
                                <label asp-for="Email" class="pb-2">Email</label>
                                <input type="email" class="form-control" asp-for="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="col-md-6">
                                <label asp-for="Jelszo" class="pb-2">Jelszó</label>
                                <input type="password" asp-for="Jelszo" id="jeszo-field" class="form-control">
                                <span asp-validation-for="Jelszo" class="text-danger"></span>
                            </div>

                            <div class="col-md-12 text-center">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message"></div>
                                <button type="submit">Bejelentkezés</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>