 <section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Használati útmutató</h2>
        <p></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Diákoknak</h3>

            <div class="resume-item pb-0">
              <h4>Regisztráció</h4>
              <p><em>A Regisztráció menüpontban tölts ki minden adatodat, add meg hogy diák vagy.</em></p>
              <ul>
                <li>Regisztráció</li>
                <li>Adatok megadása</li>
                <li>Típusnál Diák választása</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <h3 class="resume-title">Bejelentkezés</h3>
            <div class="resume-item">
              <h4>Bejelentkezés nélkül nem tudod használni a weboldalt</h4>
              <p><em>A bejelentkezés menüpont alatt a regisztrált email címeddel és a jelszavaddal tudsz bejelentkezni.</em></p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
                    <h4>Feladatok</h4>
                    <p><em>Választsd ki a számodra megfelelő feladatlapokat.</em></p>
                    <ul>
                        <li>Oktatási anyagok</li>
                        <li>Tantárgy</li>
                        <li>Évfolyam</li>
                    </ul>
            </div><!-- Edn Resume Item -->

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <h3 class="resume-title">Tanároknak</h3>

                <div class="resume-item pb-0">
                    <h4>Regisztráció</h4>
                    <p><em>A Regisztráció menüpontban tölts ki minden adatodat, add meg hogy diák vagy.</em></p>
                    <ul>
                        <li>Regisztráció</li>
                        <li>Adatok megadása</li>
                        <li>Típusnál Tanár választása</li>
                    </ul>
                </div><!-- Edn Resume Item -->

                <h3 class="resume-title">Bejelentkezés</h3>
                <div class="resume-item">
                    <h4>Bejelentkezés nélkül nem tudod használni a weboldalt</h4>
                    <p><em>A bejelentkezés menüpont alatt a regisztrált email címeddel és a jelszavaddal tudsz bejelentkezni.</em></p>
                </div><!-- Edn Resume Item -->

                <div class="resume-item">
                    <h4>Feladatok</h4>
                    <p><em>Választsd ki a számodra megfelelő feladatlapokat.</em></p>
                    <ul>
                        <li>Oktatási anyagok</li>
                        <li>Tantárgy</li>
                        <li>Évfolyam</li>
                        <li>Feladattípusok kijelölése</li>
                        <li>Témazáró generálása</li>
                        <li>Pdf nyomtatása vagy letöltése</li>
                    </ul>
                </div><!-- Edn Resume Item -->

          </div>

        </div>

      </div>

    </section><!-- /Resume Section -->