@using Gyakorlo.Models.Home
@model KapcsolatViewModel
<section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Kapcsolat</h2>
        <p>Bármilyen kérdés merül fel Önben, írjon nekünk bizalommal!</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-5">

                <div class="info-wrap">
                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                        <i class="bi bi-geo-alt flex-shrink-0"></i>
                        <div>
                            <h3>Cím</h3>
                            <p>1202 Budapest Timót utca 3</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                        <i class="bi bi-telephone flex-shrink-0"></i>
                        <div>
                            <h3>Telefon</h3>
                            <p>+36 30 111 22 33</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                        <i class="bi bi-envelope flex-shrink-0"></i>
                        <div>
                            <h3>Email</h3>
                            <p>info@gyakorlo.hu</p>
                        </div>
                    </div><!-- End Info Item -->

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43167.26240965428!2d19.057803153991696!3d47.45183805148063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dd380bf43fb5%3A0x585eb451c1212e54!2zQkdTWkMgU3ppbHkgS8OhbG3DoW4gTcWxc3pha2kgU3pha2dpbW7DoXppdW0sIFN6YWtrw7Z6w6lwaXNrb2xhIMOpcyBLb2xsw6lnaXVt!5e0!3m2!1shu!2shu!4v1642070230819!5m2!1shu!2shu" frameborder="0" style="border:0; width: 100%; height: 270px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

            <div class="col-lg-7">
                <form action="/Kapcsolat" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                    <div class="row gy-4">
                        <div class="col-md-6">
                            <label asp-for="Nev" class="pb-2">Név</label>
                            <input type="text" asp-for="Nev" id="nev-field" class="form-control">
                            <span asp-validation-for="Nev" class="text-danger"></span>
                        </div>

                        <div class="col-md-6">
                            <label asp-for="Email" class="pb-2">Email</label>
                            <input type="email" class="form-control" asp-for="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="col-md-12">
                            <label asp-for="Uzenet" class="pb-2">Üzenet</label>
                            <textarea rows="10" asp-for="Uzenet" id="message-field" class="form-control"></textarea>
                            <span asp-validation-for="Uzenet" class="text-danger"></span>
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            @{
                                string style = "";
                                if (Model.Visszajelzes != "")
                                {
                                    style = "style=\"display:block\"";
                                }
                            }
                            <div class="sent-message">@Model.Visszajelzes</div>
                            <button type="submit" @style>Küldés</button>
                        </div>
                    </div>
                </form>
            </div><!-- End Contact Form -->

        </div>

    </div>

</section>