
<!-- About Section -->
<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>RÓLUNK</h2>
        <p>GYAKORLÁS TESZI A MESTERT</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 justify-content-center">
            <div class="col-lg-4">
                <img src="assets/img/profile-img.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 content">
                <h2>A kitartás meghozza a gyümölcsét</h2>
                <p class="fst-italic py-3">
                    Mindannyiunk számára a legfontosabb feladat gyermekeink jövőjét megalapozni . A készségek képességek fejlesztése születésüktől fogva első helyen szerepel életünkben . Sokszor érezzük azt, hogy segítségre van szükségük, de még egy különóra, különtanár nem fér bele a napirendünkbe. Ezek az online gyakorló feladatok segítenek abban, hogy a napirendbe be tudd illeszteni a tudás elmélyítését. 
                </p>
                
                <p class="py-3">
                    Több tíz éves oktatási múlttal rendelkezünk. Sok száz gyereknek segítettünk már a tudást megszerzeni és készség szintre fejleszteni.
                </p>
            </div>
        </div>

    </div>

</section><!-- /About Section -->

